<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Ticker</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @tracked_stocks.each do |ts| %>
            <tr>
                <th scope="row"><%= ts.ticker %></th>
                <td><%= ts.name %></td>
                <td><%= ts.last_price %></td>
                <td></td>
            </tr>
        <% end %>
    </tbody>
</table>