<div class="container">
    <h1 class="text-center">My Portfolio</h1>
    <hr class="my-4">
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6 search--stock p-3">
            <h5 class="text-center">Search Stocks</h5>
    
            <%= form_tag search_stock_path, remote: true, method: :get do %>
                <div class="input-group mb-3">

                    <%= text_field_tag :stock, params[:stock], placeholder: 'Stock Ticker Symbol', autofocus: true, class: "form-control" %>
                    <div class="input-group-append">
                        <%= button_tag type: :submit, class: "btn btn-outline-secondary" do%>
                            <%= fa_icon "search" %>
                        <% end %>
                    </div>
                </div>
            <% end %>

            <div id="stock-search-result">
                
            </div>
        </div>
    </div>
</div>